PartnerReservationClient/src/META-INF/wsdl/localhost_8080/ReservationWebService/ReservationWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="ReservationWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/ReservationWebService/ReservationWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="createNewReservation">
<part name="parameters" element="tns:createNewReservation"/>
</message>
<message name="createNewReservationResponse">
<part name="parameters" element="tns:createNewReservationResponse"/>
</message>
<message name="CarNotFoundException">
<part name="fault" element="tns:CarNotFoundException"/>
</message>
<message name="OutletNotFoundException">
<part name="fault" element="tns:OutletNotFoundException"/>
</message>
<message name="RentalRateNotFoundException">
<part name="fault" element="tns:RentalRateNotFoundException"/>
</message>
<message name="CustomerNotFoundException">
<part name="fault" element="tns:CustomerNotFoundException"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="ReservationWebService">
<operation name="createNewReservation">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/createNewReservationRequest" message="tns:createNewReservation"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/createNewReservationResponse" message="tns:createNewReservationResponse"/>
<fault message="tns:CarNotFoundException" name="CarNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/createNewReservation/Fault/CarNotFoundException"/>
<fault message="tns:OutletNotFoundException" name="OutletNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/createNewReservation/Fault/OutletNotFoundException"/>
<fault message="tns:RentalRateNotFoundException" name="RentalRateNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/createNewReservation/Fault/RentalRateNotFoundException"/>
<fault message="tns:CustomerNotFoundException" name="CustomerNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/createNewReservation/Fault/CustomerNotFoundException"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="ReservationWebServicePortBinding" type="tns:ReservationWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createNewReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarNotFoundException">
<soap:fault name="CarNotFoundException" use="literal"/>
</fault>
<fault name="OutletNotFoundException">
<soap:fault name="OutletNotFoundException" use="literal"/>
</fault>
<fault name="RentalRateNotFoundException">
<soap:fault name="RentalRateNotFoundException" use="literal"/>
</fault>
<fault name="CustomerNotFoundException">
<soap:fault name="CustomerNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ReservationWebService">
<port name="ReservationWebServicePort" binding="tns:ReservationWebServicePortBinding">
<soap:address location="http://localhost:8080/ReservationWebService/ReservationWebService"/>
</port>
</service>
</definitions>