PartnerReservationClient/xml-resources/web-service-references/CarWebService/wsdl/localhost_8080/CarWebService/CarWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="CarWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/CarWebService/CarWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="retrieveCarById">
<part name="parameters" element="tns:retrieveCarById"/>
</message>
<message name="retrieveCarByIdResponse">
<part name="parameters" element="tns:retrieveCarByIdResponse"/>
</message>
<message name="CarNotFoundException">
<part name="fault" element="tns:CarNotFoundException"/>
</message>
<message name="findListOfCars">
<part name="parameters" element="tns:findListOfCars"/>
</message>
<message name="findListOfCarsResponse">
<part name="parameters" element="tns:findListOfCarsResponse"/>
</message>
<message name="OutletNotFoundException">
<part name="fault" element="tns:OutletNotFoundException"/>
</message>
<portType name="CarWebService">
<operation name="retrieveCarById">
<input wsam:Action="http://ws.session.ejb/CarWebService/retrieveCarByIdRequest" message="tns:retrieveCarById"/>
<output wsam:Action="http://ws.session.ejb/CarWebService/retrieveCarByIdResponse" message="tns:retrieveCarByIdResponse"/>
<fault message="tns:CarNotFoundException" name="CarNotFoundException" wsam:Action="http://ws.session.ejb/CarWebService/retrieveCarById/Fault/CarNotFoundException"/>
</operation>
<operation name="findListOfCars">
<input wsam:Action="http://ws.session.ejb/CarWebService/findListOfCarsRequest" message="tns:findListOfCars"/>
<output wsam:Action="http://ws.session.ejb/CarWebService/findListOfCarsResponse" message="tns:findListOfCarsResponse"/>
<fault message="tns:OutletNotFoundException" name="OutletNotFoundException" wsam:Action="http://ws.session.ejb/CarWebService/findListOfCars/Fault/OutletNotFoundException"/>
</operation>
</portType>
<binding name="CarWebServicePortBinding" type="tns:CarWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="retrieveCarById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarNotFoundException">
<soap:fault name="CarNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="findListOfCars">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OutletNotFoundException">
<soap:fault name="OutletNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="CarWebService">
<port name="CarWebServicePort" binding="tns:CarWebServicePortBinding">
<soap:address location="http://localhost:8080/CarWebService/CarWebService"/>
</port>
</service>
</definitions>