PartnerReservationClient/xml-resources/web-service-references/CarWebService/wsdl/localhost_8080/CarWebService/CarWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws.session.ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.session.ejb/">

<xs:element name="CarNotFoundException" type="tns:CarNotFoundException"/>

<xs:element name="OutletNotFoundException" type="tns:OutletNotFoundException"/>

<xs:element name="findListOfCars" type="tns:findListOfCars"/>

<xs:element name="findListOfCarsResponse" type="tns:findListOfCarsResponse"/>

<xs:element name="retrieveCarById" type="tns:retrieveCarById"/>

<xs:element name="retrieveCarByIdResponse" type="tns:retrieveCarByIdResponse"/>

<xs:complexType name="findListOfCars">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
<xs:element name="arg1" type="xs:long" minOccurs="0"/>
<xs:element name="arg2" type="xs:dateTime" minOccurs="0"/>
<xs:element name="arg3" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findListOfCarsResponse">
<xs:sequence>
<xs:element name="return" type="tns:carEntity" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="carEntity">
<xs:sequence>
<xs:element name="carId" type="xs:long" minOccurs="0"/>
<xs:element name="carPlateNumber" type="xs:string" minOccurs="0"/>
<xs:element name="category" type="tns:category" minOccurs="0"/>
<xs:element name="colour" type="xs:string" minOccurs="0"/>
<xs:element name="currentStatus" type="tns:carStatusEnum" minOccurs="0"/>
<xs:element name="disabled" type="xs:boolean" minOccurs="0"/>
<xs:element name="model" type="tns:model" minOccurs="0"/>
<xs:element name="outletEntity" type="tns:outletEntity" minOccurs="0"/>
<xs:element name="reservations" type="tns:reservation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="transitDriverDispatchRecords" type="tns:transitDriverDispatchRecord" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="category">
<xs:sequence>
<xs:element name="categoryId" type="xs:long" minOccurs="0"/>
<xs:element name="models" type="tns:model" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="rentalRates" type="tns:rentalRate" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="model">
<xs:sequence>
<xs:element name="cars" type="tns:carEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="category" type="tns:category" minOccurs="0"/>
<xs:element name="disabled" type="xs:boolean" minOccurs="0"/>
<xs:element name="inUse" type="xs:boolean" minOccurs="0"/>
<xs:element name="makeName" type="xs:string" minOccurs="0"/>
<xs:element name="modelId" type="xs:long" minOccurs="0"/>
<xs:element name="modelName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rentalRate">
<xs:sequence>
<xs:element name="category" type="tns:category" minOccurs="0"/>
<xs:element name="disabled" type="xs:boolean" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="inUse" type="xs:boolean" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="ratePerDay" type="xs:long" minOccurs="0"/>
<xs:element name="rentalRateType" type="tns:rentalRateTypeEnum" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="outletEntity">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="cars" type="tns:carEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="closingTime" type="xs:string" minOccurs="0"/>
<xs:element name="employees" type="tns:employeeEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="openingTime" type="xs:string" minOccurs="0"/>
<xs:element name="outletId" type="xs:long" minOccurs="0"/>
<xs:element name="reservations" type="tns:reservation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="transitDriverDispatchRecords" type="tns:transitDriverDispatchRecord" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="employeeEntity">
<xs:sequence>
<xs:element name="accessRightEnum" type="tns:accessRightEnum" minOccurs="0"/>
<xs:element name="contactNumber" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="logged_in" type="xs:boolean"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="outlet" type="tns:outletEntity" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="transitDriverDistpachRecord" type="tns:transitDriverDispatchRecord" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="transitDriverDispatchRecord">
<xs:sequence>
<xs:element name="car" type="tns:carEntity" minOccurs="0"/>
<xs:element name="dateOfTransit" type="xs:dateTime" minOccurs="0"/>
<xs:element name="pickUpOutlet" type="tns:outletEntity" minOccurs="0"/>
<xs:element name="returnOutlet" type="tns:outletEntity" minOccurs="0"/>
<xs:element name="transitDriver" type="tns:employeeEntity" minOccurs="0"/>
<xs:element name="transitDriverDispatchId" type="xs:long" minOccurs="0"/>
<xs:element name="transitStatus" type="tns:transitStatusEnum" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservation">
<xs:sequence>
<xs:element name="car" type="tns:carEntity" minOccurs="0"/>
<xs:element name="creditCard" type="tns:creditCard" minOccurs="0"/>
<xs:element name="customer" type="tns:customer" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="paid" type="xs:boolean"/>
<xs:element name="partner" type="tns:partnerEntity" minOccurs="0"/>
<xs:element name="pickUpDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="pickUpOutlet" type="tns:outletEntity" minOccurs="0"/>
<xs:element name="rentalRates" type="tns:rentalRate" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="returnDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="returnOutlet" type="tns:outletEntity" minOccurs="0"/>
<xs:element name="totalCost" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="creditCard">
<xs:sequence>
<xs:element name="CVV" type="xs:string" minOccurs="0"/>
<xs:element name="cardName" type="xs:string" minOccurs="0"/>
<xs:element name="creditCardNum" type="xs:string" minOccurs="0"/>
<xs:element name="expiryDate" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="reservation" type="tns:reservation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customer">
<xs:sequence>
<xs:element name="contactNumber" type="xs:string" minOccurs="0"/>
<xs:element name="customerId" type="xs:long" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="loggedIn" type="xs:boolean"/>
<xs:element name="passportNumber" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="reservations" type="tns:reservation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerEntity">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="loggedIn" type="xs:boolean"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="partnerId" type="xs:long" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="reservations" type="tns:reservation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="OutletNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveCarById">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveCarByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:carEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CarNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="rentalRateTypeEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="DEFAULT"/>
<xs:enumeration value="PEAK"/>
<xs:enumeration value="PROMOTION"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="carStatusEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="NOT_IN_USE"/>
<xs:enumeration value="IN_USE"/>
<xs:enumeration value="IN_TRANSIT"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="accessRightEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="SALES_MANAGER"/>
<xs:enumeration value="OPERATIONS_MANAGER"/>
<xs:enumeration value="CUSTOMER_SERVICE_EXECUTIVE"/>
<xs:enumeration value="EMPLOYEE"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="transitStatusEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="PENDING"/>
<xs:enumeration value="ONGOING"/>
<xs:enumeration value="COMPLETED"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>